* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

:root {
    --yellow: #ffcc29;
    --blue: #1d539e;
    --gray: #828799;
    --page-background: #f9fbfc;
  }

  .background {
      display: flex;
      flex-direction: column;
      width: 100vw;
      height: 100vh;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
  }

  .blue-background {
      background-color: #1d539e;
      flex: 1;
  }

  .light-background {
      background-color: #f9fbfc;
      flex: 1;
  }

  .title {
      width: 553px;
      margin: 40px auto;
  }

  .title > h1 {
      font-family: 'Open Sans', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 48px;
      line-height: 65px;
      color: #FFFFFF;
      text-align: center;
  }

  .title > p {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 20px;
  }

  .main-container { 
    margin: 0px auto;  
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80vw;
    height: 60vh;
    gap: 20px;
  }

  .price-box {
    background: #FFFFFF;
    box-shadow: 0px 1px 2px rgba(142, 150, 185, 0.25);
    width: 300px;
    height: 400px;
    border-radius: 8px;
    padding: 20px;
  }

  .price-box:hover {
    background: #FFFFFF;
    box-shadow: 0px 1px 2px rgba(142, 150, 185, 0.25);
    width: 330px;
    height: 440px;
    border-radius: 8px;
    padding: 20px;  
  }

  .hr {
    border: 1px solid #EEEEEE;
  }